.mainContent{
    display: flex;
    flex-direction: row;
    border: 4px solid white;
    border-radius: 10px;
    align-items: center;
    min-width: 180px;
    margin: 10px;
    text-align: center;
    
    p{
        display: flex;
        align-content: center;
        text-align: center;
        font-weight: bold;
        font-size: 28px !important;
        color: white;
        margin: 0 auto;
        

        @media (max-width: 900px) {
            margin-top: 0.50em;
            margin-bottom: 0.50em;
        }

        @media (max-width: 400px) {
            margin-top: 0.45em;
            margin-bottom: 0.45em;
        }
    }

    @media (max-width: 400px) {
        min-width: 140px;
    }
}